@model List<Intaria.Models.Pedidos>

@{ var busqueda = ViewBag.busqueda;

    var totalPedidos = ViewBag.totalPedidos;
    var totalPagina = ViewBag.totalPagina;
    var pagina = ViewBag.pagina;
}


<div class="container-fluid flex-shrink-0">
    <div class="row justify-content-between  my-2">
        <h2 class="hh">Lista de pedidos</h2>
        <div class="col-3">
            <div class="input-group inputbusqueda">
                <input type="text" class="form-control" placeholder="Pedidos ..." aria-label="Entity Search" id="search-q" value="@busqueda">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="btnagregar d-flex align-items-start d-inline-flex">
            <a href="/Config/PedidosEdit" type="button" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Preparar Pedido</a>
        </div>
    </div>
</div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:350px">Nº Pedido</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Forma de pago</th>
                    <th>Total</th>
                    <th>Fecha</th>
                    <td style="width:42px">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
                {
    <tr>
        <td data-titulo="Nº Pedido" ><a   class="td-descripcion" href="/config/PedidosEdit/@cat.Id">@cat.Id</a></td>
        <td data-titulo="Cliente"><a class="td-descripcion" href="/config/ClientesEdit/@cat.IdUsuario">@cat.NombreUsuario</a></td>
        <td data-titulo="Estado" >@cat.Estado</td>
        <td data-titulo="Forma de pago" >@cat.FormaPago</td>
        <td data-titulo="Total" >@cat.Total.ToString("#.00") €</td>
        <td data-titulo="Fecha" >@cat.CreatedOn.ToString("dd-MM-yyyy")</td>

        <td>
            <form method="POST" class="borrar" action="/Config/pedidos" data-tipo="el pedido">
                <input type="hidden" name="ID" value="@cat.Id" />
                <button type="submit" class="btn btn-danger" title="Borrar"><i class="far fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>            }
            </tbody>
        </table>
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item @(pagina <=0 ? "disabled": "")"><a class="page-link" href="/config/pedidos/?pagina=@(pagina-1)">Anterior</a></li>
                    @for (var i = 0; i < totalPagina; i++)
                    {
        <li class="page-item @(pagina == i ? "active" : "")"><a class="page-link" href="/config/pedidos/?pagina=@i">@(i+1)</a></li>}
                    <li class="page-item @(pagina >= (totalPagina-1) ? "disabled": "")"><a class="page-link" href="/config/pedidos/?pagina=@(pagina+1)">Siguiente</a></li>
                </ul>
            </nav>
        </div>

    <form id="frm-buscar" method="post"><input type="hidden" name="q" value="" /></form>

    @section scripts {
        <script>
            $(function () {
                var debounceTimeout = null;
                $("#search-q").on("keyup change", function () {
                    var t = $(this);
                    clearTimeout(debounceTimeout);
                    debounceTimeout = setTimeout(function () {
                        var v = t.val();
                        if (v.length < 3 && v.length > 0) return;
                        search(v);
                    }, 500);
                });

            })
            function search(q) {
                $("#frm-buscar input").val(q);
                $("#frm-buscar").submit();
            }
        </script>
    }

