@model List<Intaria.Models.Articulo>
@{ List<Intaria.Models.Fotos> listaFotos = ViewBag.listaFotos;

    List<Intaria.Models.Categoria> listaCategoria = ViewBag.listaCategoria;
    var busqueda = ViewBag.busqueda;

    var totalArticulos = ViewBag.totalArticulos;
    var totalPagina = ViewBag.totalPagina;
    var pagina = ViewBag.pagina;
    var i = 0;
    var cate = ViewBag.cate;
    var cont = 0;

}




<div class="d-flex">

    <div class="" id="buscador">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Artículo..." aria-label="Artículo" aria-describedby="addon-wrapping" id="articulo-texto-busqueda">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>

    <div class="" id="shows">

        <div class="input-group" id="show">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Show</span>
            </div>
            <select id="show" name="show" class="form-control">
                <option value="15" selected="selected">15</option>
                <option value="25">25</option>
                <option value="60">60</option>
                <option value="9999">ALL</option>

            </select>
        </div>

    </div>


    <div class="" id="shortby">

        <div class="input-group mb-3" id="buscador">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Short By</span>
            </div>
            <select id="ordenarpor" name="ordenarpor" class="form-control">
                <option value="recent" selected>most recent</option>
                <option value="older">older</option>
                <option value="low">Lowest first</option>
                <option value="hight">Highest first</option>
            </select>
        </div>

    </div>
</div>



@foreach (Intaria.Models.Categoria a in listaCategoria)
{
    <input value="@a.Nombre" type="hidden" id="inputcat" />
    <input value="@a.Nombre" type="hidden" id="categoria" />
    var varcate = a.Nombre;
}
<div id="resultado-busqueda">
    <div class="row justify-content-left align-items-start">



        @foreach (var cat in Model)
        {
            if (cat.Estado == "en venta")
            {
                cont = cont + 1;
                <div class="p-2 col-lg-3 biography">
                    <div class="card card-hover ">

                        <div class="card-img-top d-flex align-items-center" style="background-color:#fafafa; border-bottom:1px solid #eaeaea">
                            <img class="foto-articulos" style=" display:block; margin:auto;" src="/fotos/@cat.Id/@cat.NombreArchivo" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">


                                <a href="/articulo/@cat.Nombre.Replace(" ","-")-@cat.Id.ToString().Substring(0,4)" class="nombre-art">@cat.Nombre</a>

                            </h5>
                            <div class="card-text d-flex justify-content-between" style="line-height:14px; text-align:center; font-size:14px;">
                                <i class="far fa-star"></i>
                                <div class="flex-grow-1 text-center">@cat.Precio.ToString("#.00") &euro;</div>
                                <button id="agregarcart" data-icon="icons8:buy" data-inline="false" data-id="@cat.Id"><i class="fas fa-cart-plus"></i></button>

                            </div>



                        </div>
                    </div>
                </div>}

        }


    </div>
    <div class="container" id="paginacion" style="margin-top:40px">

        <nav aria-label="Page navigation">
            <ul class="pagination">

                <li id="pageprev" class="page-item @(pagina <=0 ? "disabled": "")"><a  href="#" class="page-link" >Prev</a></li>



                @for (i = 0; i < totalPagina; i++)
                {
                    <li class="@i page-item @(pagina == i ? "active" : "")" value="@i+2"><a  href="#"   value="as" class="page-link">@(i+1)</a></li>

                }

                <li id="pagenext" value="next" name="listanext" class="page-item @(pagina >= (totalPagina-1) ? "disabled": "")"><a href="#" class="page-link"  value="as">Next</a></li>
            </ul>
        </nav>
    </div>


</div>



<script>
    /* buscador de articulos */
    var vainputcat = $("#inputcat").val();

    var dbcTimeout = null;
    var ultimoArtBusqueda = null;
    $("#articulo-texto-busqueda").on("keyup change", function () {
        var t = $(this);
        clearTimeout(dbcTimeout);
        dbcTimeout = setTimeout(function () {
            var q = t.val();
            if (q.length < 3 && q.length > 0) return;
            if (q == ultimoArtBusqueda) return;
            ultimoArtBusqueda = q;
            showWorking();




            $("#resultado-busqueda").load('/web/BuscarArticulosResultado', { q: q, vainputcat: vainputcat },
                function (r) {
                    hideWorking();
                }
            );


        }, 1000);
    });

    /* mostrar numero de articulos*/


    $('#show').on('change', function () {

        var numarticulos = $('select[name=show]').val();




        $("#resultado-busqueda").load('/web/BuscarArticulosResultado', { numarticulos: numarticulos, vainputcat: vainputcat },
            function (r) {
                hideWorking();
            }
        );

    });



    /* Ordenar por  */


    $('#ordenarpor').on('change', function () {

        var ordenadorpor = $('select[name=ordenarpor]').val();



        $("#resultado-busqueda").load('/web/BuscarArticulosResultado', { ordenadorpor: ordenadorpor, vainputcat: vainputcat },
            function (r) {
                hideWorking();
            }
        );


    });




    $("button").on("click", function () {
        var t = $(this);

        $.post("/web/AnadirAlCarrito", { Id: t.data("id") }, function (r) {
            t.html('✔');
        });
    });




    $(".pagination li").on("click", function () {
        var otrapagina = $(this).text();

        if (otrapagina == "Next" ) {
            var otrapagina = $('.active').val();
            otrapagina = otrapagina + 2;

        } else if (otrapagina == "Prev" ) {
            var otrapagina = $('.active').val();

        }
        if (otrapagina > @totalPagina || otrapagina < 1) {
        } else {

            $("#resultado-busqueda").load('/web/BuscarArticulosResultado', { otrapagina: otrapagina, vainputcat: vainputcat },
                function (r) {
                    hideWorking();
                }
            );
        }

    });
</script>